
.button.ui.huge.vertical.animated.button {
    
    height: fit-content;
    width: 10rem;
    padding: 0% 0% 0% 0%;
    margin: 1% 1% 1% 1%;
    background-color: white;
}

.hidden.content {
    font-size: 15px;
    background-color: white;
}

.ui.animated.button .visible.content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    
}

.thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 4rem;
}