
.button.ui.huge.vertical.animated.button {
    height: fit-content;
    width: 10rem;
    padding: 1% 1% 1% 1%;
    margin:1% 1% 1% 1%;
    background-color: white;
}

.hidden.content {
    font-size: 15px;
    background-color: white;
}

.visible.content {
    background-color: white;
}

.thumbnail {
    height: 4rem;
}