
.content {
    background-color: rgb(245, 245, 245);
    padding-bottom: 10px;
}

.App-logo {
    height: 10vmin;
    pointer-events: none;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.modelSelection {
    flex-direction: row;
}